* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

body h2 {
  font-size: 3rem;
}

header {
  background-color: #ffffff;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.header-img {
  width: 75px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
}

.header-text {
  font-size: 1rem;
}

.home-hero {
  text-align: center;
  background: linear-gradient(to top, #ffffff, #c8dbfb);
  position: sticky;
  z-index: -50;
  top: 1vh;
}

.MobileNavigation {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  right: 0;
  padding-right: 20px;
  /* padding-top: 40%; */
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(1rem);
  background-size: 100vh;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.text-logo img {
  width: 35%;
  position: absolute;
}

.home-hero img {
  width: 25%;
}

.text-logo {
  font-family: "lora", sans-serif;
  font-size: 6vw;
  color: #092d5b;
  padding-top: 60px;
}

.crest-logo img {
  width: 15%;
}

nav a {
  color: #0270bf;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.center-text {
  text-align: center;
}

.btn {
  background-color: #0270bf;
  border: 0;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.btn a {
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}

.btn-text {
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}

.btn a:hover {
  color: white;
}

.btn:hover {
  color: white;
  background-color: #092d5b;
}

.btn-shadow {
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.4);
}

.intro-container {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
}

.intro-welcome {
  text-align: center;
}

.intro-welcome h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  /* padding-top: 40px; */
}

.information-header {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  text-align: center;
}

.intro-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
  font-size: 1rem;
}

.intro-book-now {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.intro-book-now .btn {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  text-decoration: none;
}

.amenities-container {
  width: 75rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
}

.amenities-text {
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #555555;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* .amenities {
  background-image: url(./assets/img/riocolo-amenities.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
} */

.amenities-buffer {
  height: 25vw;
}

.amenities-bottom {
  padding-top: 40px;
  width: 100%;
  background-color: white;
}

.missing-container,
.events-container,
.tournament-container {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.missing-header h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
}
.missing-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
}
.missing-amenities {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.missing-img,
.amenities-img {
  text-align: center;
}

.intro-img {
  text-align: center;
}

.onsite-container {
  width: 60%;
  margin: 0 auto;
  z-index: 9990;
}

.missing-amenities .btn {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

.directions {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.directions h4 {
  color: #0270bf;
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0px;
}

.directions-book-now {
  padding-top: 20px;
  padding-bottom: 40px;
}

.directions-book-now .btn {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

.map {
  width: 100%;
  height: 400px;
}

.map-container {
  text-align: right;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #092d5b;
  display: grid;
  padding-top: 25px;
}

.admin-footer {
  background: #092d5b;
  width: 100%;
}

.admin-footer a {
  font-size: 12px;
  color: #0270bf;
  padding-top: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

footer a {
  color: #85a9c3;
  font-size: 18px;
}

footer a:hover {
  color: #ffffff;
}

.follow-us {
  color: #85a9c3;
  padding-right: 5px;
}

.social-icon {
  color: white;
  font-size: 1.5vw;
  margin: 5px;
}

.vert-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onsite-header {
  text-align: center;
}

.onsite-header h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.onsite-text {
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #555555;
}

.offsite-container {
  width: 60%;
  margin: 0 auto;
}

.offsite-header {
  text-align: center;
}

.offsite-header h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.offsite-text {
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #555555;
}

.course-container {
  width: 100%;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.course-img {
  text-align: center;
  width: 100%;
}

.course-img img{
  width: 85%;
}

.course-header {
  text-align: center;
}

.course-header h2 {
  font-size: 4vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.course-text {
  padding-top: 40px;
  /* padding-left: 40px; */
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #555555;
  font-size: 1.2vw;
}

.course-summary h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 2px;
  color: #0270bf;
  padding-top: 20px;
}

.course-stats {
  /* padding-top: 20px; */
  padding-bottom: 20px;
  letter-spacing: 1px;
  color: #555555;
  margin: auto;
  font-size: 18px;
}

.course-amenities {
  padding-bottom: 40px;
}

.hole-info-container {
  background-color: #f6faff;
  padding: 5%;
  max-width: 75%;
}

.hole-info-container h4 {
  color: #0270bf;
  font-size: 2vw;
}

.hole-info-container select {
  width: 50%;
}

.hole-header-txt {
  color: #0270bf;
  font-size: 3vw;
  font-weight: 500;
  padding-top: 20px;
}

.hole-header-num {
  font-size: 5.5vw;
  font-weight: 450;
}

.hole-summary {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #555555;
}

.hole-info-container h3 {
  color: #555555;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.hole-yardage {
  margin: 0 auto;
  max-width: 60%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20%;
  padding-right: 20px;
  border: 0.5px solid #555555;
  border-radius: 10px;
  color: #555555;
  font-size: 2.5vw;
}

.red-tee {
  height: 25px;
  width: 25px;
  background-color: #cf5b5b;
  border-radius: 50%;
  display: inline-block;
}

.white-tee {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #555555;
  display: inline-block;
}

.blue-tee {
  height: 25px;
  width: 25px;
  background-color: #488ecf;
  border-radius: 50%;
  display: inline-block;
}

.gold-tee {
  height: 25px;
  width: 25px;
  background-color: #d1cc67;
  border-radius: 50%;
  display: inline-block;
}

.hole-info-container img {
  max-width: 100%;
  max-height: 80vh;
}

.hole-img-container {
  text-align: center;
}

.tournament-results {
  padding: 20px;
}

.coming-soon {
  /* width: 50vw; */
  text-align: center;
}

.coming-soon h2 {
  color: black;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.login-card {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  padding-top: 4%;
  width: 40rem;
  background-color: #ffffff;
  border-radius: 5px;
}

.float-end {
  padding: 0;
}

.exit-icon {
  font-size: 25px;
  text-decoration: none;
  color: #555555;
  border: none;
  background: none;
  padding: none;
  margin: none;
}

.login-card h2 {
  font-family: "lora", sans-serif;
  /* font-size: 4vw; */
  color: #092d5b;
  padding-top: 10px;
  /* text-align: center; */
}

.login-card form {
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  /* margin-left: 5%; */
}

.login-card input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
}

.login-text {
  display: block;
  /* font-size: 1.75vw; */
  padding-top: 10px;
}

.login-button {
  width: 100px;
}

.sign-up-card {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
  /* width: 50vw; */
  text-align: center;
}
.sign-up-button {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.sign-up-card h2 {
  color: white;
  font-size: 32px;
  text-align: center;
}

.sign-up-container h2 {
  font-weight: 700;
}

.sign-up-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #092d58, #0270bf);
  /* text-align: center; */
  padding-top: 10%;
  padding-bottom: 10%;
  /* text-align: center; */
}

.admin-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #092d58, #0270bf);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.admin-container input {
  background-color: #f6faff;
}

.admin-container button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-card {
  background-color: #ffffff;
  width: 80%;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
}

.admin-card h3 {
  font-size: 2vw;
}

.admin-header img {
  width: 20%;
  padding-right: 30px;
}

.admin-header-logo {
  display: inline-block;
  font-family: "lora", sans-serif;
  font-size: 3.5vw;
  color: #092d5b;
}

.admin-header-txt {
  font-size: 3vw;
  font-weight: 600;
}

.member-control span,
.search-header,
.user-search-results {
  font-size: 1vw;
}

.delete {
  color: #ff0000;
}

.user-search-results {
  background-color: #dddddd;
}

.search-results {
  border-bottom: 1px solid #333333;
  padding: 2px;
}

.pricing-control input {
  width: 40px;
  height: 40px;
  text-align: center;
}

.pricing-type {
  display: block;
  text-align: center;
  font-size: 15px;
}

.pricing-card {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.bottom-misc {
  padding-top: 20px;
}

.admin-error {
  text-align: center;
}
.admin-error h3 {
  color: #ff0000;
  font-size: 3vw;
}
.fore {
  text-align: center;
}
.fore h3 {
  font-size: 3vw;
  color: #ff0000;
}

@media (max-width: 1199px) {
  .course-img img{
    width: 100%;
  }
  .course-text {
    font-size: 14px;
    padding-top: 20px;
  }
  .course-header h2 {
    font-size: 32px;
  }
  .intro-container {
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    width: 80%;
  }
  .intro-welcome h2 {
    font-size: 4vw;
  }
  .amenities-container {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 3rem;
  }
  .amenities-text {
    letter-spacing: 1px;
    color: #555555;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .onsite-container {
    width: 75%;
    margin: 0 auto;
    z-index: 9990;
  }
}

@media (max-width: 990px) {
  .Navigation {
    display: none;
  }

  .MobileNavigation {
    display: flex;
    align-items: center;
  }

  .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
    top: 10px;
    z-index: 9999;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    height: 100%;
    z-index: 9998;
    width: 100%;
    list-style: none;
  }
  nav ul li {
    padding-left: 40px;
    /* padding-bottom: 40px; */
    padding-top: 0px;
  }
  .header-img {
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .primary-navigation {
    width: 75%;
    height: 100vh;
    padding-top: 30%;
    padding-bottom: 30%;
    overflow-y: scroll;
  }

  .header-text {
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .text-logo {
    font-size: 8vw;
    padding-top: 10px;
  }
  .crest-logo img {
    display: none;
  }
  .intro-container,
  .missing-container {
    width: 100%;
    padding-top: 0;
  }
  .intro-welcome h2,
  .missing-header h2 {
    font-size: 5vw;
    letter-spacing: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .intro-book-now {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .intro-text,
  .missing-text {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .missing-amenities {
    padding-top: 40px;
  }
  .directions-book-now {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  .directions-book-now {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
  }
  footer {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #092d5b;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer a {
    color: #85a9c3;
    font-size: 16px;
  }

  .social-icon {
    color: white;
    font-size: 5vw;
    margin: 5px;
  }

  .hole-info-container {
    max-width: 95%;
  }
  .login-card {
    width: 95vw;
  }
  .course-summary h2 {
    font-size: 24px;
  }
  .amenities-container {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);

    padding: 1rem;
  }
  .amenities-text {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    color: #555555;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    /* width: 60%; */
  }
  .amenities-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .onsite-container {
    width: 100%;
    margin: 0 auto;
    z-index: 9990;
  }
}
.calender-button {
  display: none;
}

.calender-btn {
  background-color: #0270bf;
  border: 0;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.calender-btn a {
  color: white;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .calender-container {
    display: none;
    /* height: 100%; */
  }
  .calender-button {
    display: inline-block;
    border: 0;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .sign-up-container h2 {
    padding-top: 10px;
    font-size: 30px;
  }
  .exit-icon {
    font-size: 20px;
  }
  .course-summary h2 {
    font-size: 18px;
  }
}
