*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
}

body h2{
  font-size: 3rem4;
}

header {
  padding-top: 25px;
  justify-content: space-between;
  display: flex;
}

.home-hero {
  /* background-image: url("/rio-colorado-golf/public/assets/img/riocolo-cup.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position-x: center; */
  /* /* width: 100vw; */
  /* height: 100vh; */
  text-align: center;
  background: linear-gradient(to top, #ffffff, #c8dbfb);
}

.text-logo img {
  width: 35%;
  padding-top: 25px;
}

.crest-logo img {
  width: 15%;
}

nav {
}

nav a {
  color: #0270bf;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.center-text {
  text-align: center;
}

button {
  background-color: #0270bf;
  border: 0;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

button a {
  color: white;
}

button a:hover {
  color: white;
}

button:hover {
  color: white;
  background-color: #092d5b;
}

.intro-container {
  width: 75%;
  margin: 0 auto;
}

.intro-welcome {
  text-align: center;  
}

.intro-welcome h2 {
  font-size: 4vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.intro-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
}

.intro-book-now {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.intro-book-now button {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  text-decoration: none;
}
.missing-container {
  width: 75%;
  margin: 0 auto;
}
.missing-header {
  padding-top: 40px;
  text-align: center;  
}
.missing-header h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
}
.missing-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
}
.missing-amenities {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.missing-img {
  text-align: center;
}
.missing-amenities button {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}