* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body h2 {
  font-size: 3rem;
}

header {
  padding-top: 25px;
  justify-content: space-between;
  display: flex;
}

.home-hero {
  text-align: center;
  background: linear-gradient(to top, #ffffff, #c8dbfb);
}

.home-hero img {
  width: 50%;
}

.text-logo img {
  width: 35%;
  padding-top: 25px;
}

.text-logo {
  font-family: "lora", sans-serif;
  font-size: 6vw;
  color: #092d5b;
  padding-top: 10px;
}

.crest-logo img {
  width: 15%;
}

nav {
  max-width: 100%;
  white-space: nowrap;
}

nav a {
  color: #0270bf;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.center-text {
  text-align: center;
}

button {
  background-color: #0270bf;
  border: 0;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

button a {
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
}

button a:hover {
  color: white;
}

button:hover {
  color: white;
  background-color: #092d5b;
}

.btn-shadow {
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.4);
}

.intro-container {
  width: 75%;
  margin: 0 auto;
}

.intro-welcome {
  text-align: center;
}

.intro-welcome h2 {
  font-size: 4vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.intro-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
}

.intro-book-now {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.intro-book-now button {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  text-decoration: none;
}

.missing-container {
  width: 75%;
  margin: 0 auto;
}

.missing-header {
  padding-top: 40px;
  text-align: center;
}

.missing-header h2 {
  font-size: 3vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
}

.missing-text {
  padding-top: 40px;
  letter-spacing: 1px;
  color: #555555;
}

.missing-amenities {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.missing-img, .amenities-img {
  text-align: center;
}

.missing-amenities button {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

.directions {
  padding-top: 40px;
  padding-bottom: 40px;
}

.directions h4 {
  color: #0270bf;
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0px;
}

.directions-book-now {
  padding-top: 20px;
  padding-bottom: 40px;
}

.directions-book-now button {
  font-size: 24px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

.map {
  width: 100%;
  height: 400px;
}

footer {
  background-color: #092d5b;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a {
  color: #85a9c3;
}

footer a:hover {
  color: #ffffff;
}

.follow-us {
  color: #85a9c3;
  padding-right: 5px;
}

.social-icon {
  color: white;
  font-size: 2.5vw;
  margin: 5px;
}

.vert-align {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.offsite-container {
  width: 75%;
  margin: 0 auto;
}

.offsite-header {
  text-align: center;
}

.offsite-header h2 {
  font-size: 4vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.offsite-text {
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #555555;
}

.course-container {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.course-header {
  text-align: center;
}

.course-header h2 {
  font-size: 4vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 3px;
  color: #0270bf;
  border-bottom: 1px solid #afafaf;
  padding-top: 40px;
}

.course-text {
  padding-top: 40px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #555555;
}

.course-summary h2{
  font-size: 2vw;
  text-shadow: 2px 2px 4px #afafaf;
  letter-spacing: 2px;
  color: #0270bf;
  padding-top: 40px;
}

.course-stats {
  padding-top: 20px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  color: #555555;
  margin: auto;
}

.hole-info-container {
  background-color: #f6faff;
  padding: 5%;
}

.hole-info-container h4{
  color:#0270bf;
  font-size: 2vw;
}

.hole-info-container select {
  width: 50%;
}

.hole-header-txt {
  color:#0270bf;
  font-size: 3vw;
  font-weight: 500;
  padding-top: 20px;
}

.hole-header-num {
  font-size: 5.5vw;
  font-weight: 450;
}

.hole-summary {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #555555;
}  

.hole-info-container h3{
  color:#555555;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.hole-yardage {
  margin: 0 auto;
  max-width: 60%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20%;
  padding-right: 20px;
  border: .5px solid #555555;
  border-radius: 10px;
  color: #555555;
  font-size: 2.5vw;
}

.red-tee {
  height: 25px;
  width: 25px;
  background-color: #cf5b5b;
  border-radius: 50%;
  display: inline-block;
}

.white-tee {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #555555;
  display: inline-block;
}

.blue-tee {
  height: 25px;
  width: 25px;
  background-color: #488ecf;
  border-radius: 50%;
  display: inline-block;
}

.gold-tee {
  height: 25px;
  width: 25px;
  background-color: #d1cc67;
  border-radius: 50%;
  display: inline-block;
}

.hole-info-container img {
  width: 100%;
}

.login-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #092D58, #0270BF);
  text-align: center;
  padding-top: 30%;
}

.login-card {
  margin: auto;
  padding: 5%;
  width: 45%;
  background-color: #ffffff;
  border-radius: 5px;
}

.exit-icon {
  text-decoration: none;
  color: #555555;
}

.login-card h2{
    font-family: "lora", sans-serif;
    font-size: 4vw;
    color: #092d5b;
    padding-top: 10px;  
}

.login-card form {
  text-align: left;
  margin-left: 5%;
}

.login-card input {
  padding: 5px;
  margin-bottom: 10px;
}

.login-text {
  display: block;
  font-size: 1.75vw;
  padding-top: 10px;
}

.login-card button {
  margin-top: 20px;
}

.login-button {
  width: 50%;
}

.sign-up-card {
  margin: auto;
  margin-top: 30px;
  padding: 5%;
  width: 45%;
  background-color: #ffffff;
  border-radius: 5px;
}

.sign-up-card h2 {
  font-size: 2vw;
  font-weight: 700;
  padding-bottom: 15px;
}

.sign-up-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #092D58, #0270BF);
  text-align: center;
  padding-top: 20%;
}
